@import 'mixins';

body {
  font-family: 'Open Sans', 'PT Sans', sans-serif;
  background: transparent;
  background-image: transparent;
  @include transition(background 1.5s);
}

html {
  background-image: -webkit-radial-gradient(hsla(90, 75%, 0, 0), hsla(90, 75%, 15%, 0.45)), url('../img/bg.png');
}

h1, h2, h3, h4, h5 {
  text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25em;
  text-align:center;
}

h1 {
  font-size: 1.85em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}

blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  font-size: 61%;
  text-align: justify;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 200;

}
blockquote:before, q:before {
  content: '„';
}
blockquote:after, q:after {
  content: '”';
}
.author {
  display: block;
  text-align: right;
  padding: 25px;
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
  margin: 0 auto;
  width: 75%;
}


.step {
  font-family: "Open Sans", "PT Sans";
  h1, h2, h3, h4 {
    font-family: 'Georgia', 'PT Serif', georgia, serif;
  }
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.green {
  color: #090;
}

.big {
  font-size: 110%;
}

.semibold {
  font-weight: 600;
}

pre {
  text-align: left;
  font-family: "DejaVu Sans Mono";
  font-size: 22px;
  line-height: 150%;
  text-transform: none;
  font-weight: normal;
  code {
    background: hsla(70, 30%, 85%, 0.2);
    @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
  }
}

.step.typo {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: -2px;
  text-shadow: 0 2px 1px hsla(0, 0, 100%, 0.3);
}

.hr {
  height: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid hsla(0, 0, 100%, 0.3);
}

ul {
  margin-left: 1.2em;
  list-style: disc;
  font-size: 75%;
}

.step.smallfont {
  font-size: 36px;
}
