body {
  font-family: 'Open Sans', 'PT Sans', sans-serif;
  background: transparent;
  background-image: transparent;
  -webkit-transition: background 1.5s;
  -moz-transition: background 1.5s;
  -ms-transition: background 1.5s;
  -o-transition: background 1.5s;
  transition: background 1.5s; }

html {
  background-image: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(38, 67, 10, 0.45)), url("../img/bg.png"); }

h1, h2, h3, h4, h5 {
  text-shadow: 0 0 0.05em rgba(0, 0, 0, 0.5);
  margin-bottom: 0.25em;
  text-align: center; }

h1 {
  font-size: 1.85em; }

h2 {
  font-size: 1.7em; }

h3 {
  font-size: 1.5em; }

blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  font-size: 61%;
  text-align: justify;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 200; }

blockquote:before, q:before {
  content: '„'; }

blockquote:after, q:after {
  content: '”'; }

.author {
  display: block;
  text-align: right;
  padding: 25px;
  font-weight: 600;
  font-size: 24px;
  font-style: italic;
  margin: 0 auto;
  width: 75%; }

.step {
  font-family: "Open Sans", "PT Sans"; }
  .step h1, .step h2, .step h3, .step h4 {
    font-family: 'Georgia', 'PT Serif', georgia, serif; }

.center {
  text-align: center; }

.red {
  color: red; }

.green {
  color: #090; }

.big {
  font-size: 110%; }

.semibold {
  font-weight: 600; }

pre {
  text-align: left;
  font-family: "DejaVu Sans Mono";
  font-size: 22px;
  line-height: 150%;
  text-transform: none;
  font-weight: normal; }
  pre code {
    background: rgba(224, 228, 205, 0.2);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); }

.step.typo {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 130%;
  letter-spacing: -2px;
  text-shadow: 0 2px 1px rgba(255, 255, 255, 0.3); }

.hr {
  height: 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

ul {
  margin-left: 1.2em;
  list-style: disc;
  font-size: 75%; }

.step.smallfont {
  font-size: 36px; }

.fadein {
  opacity: 0;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }

.step.active .fadein {
  opacity: 1; }

.stay-hidden {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#title {
  padding: 0;
  padding-left: 100px; }
  #title .privacy {
    font-family: "Open Sans";
    font-size: 84px;
    position: absolute;
    font-weight: 600;
    left: 195px;
    top: -14px;
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
    transform: translateZ(20px); }
  #title h1, #title h2 {
    text-align: left; }
  #title h1 {
    margin: 0;
    font-size: 190px;
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3); }
  #title h2 {
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    position: absolute;
    font-size: 78px;
    left: -240px;
    top: 160px;
    color: transparent;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  #title .noisemap {
    font-family: "Open Sans";
    font-size: 62px;
    position: relative;
    top: -1.3em;
    left: 90px;
    font-weight: 600;
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
    transform: translateZ(20px); }
  #title .footnote {
    font-family: "Open Sans";
    font-size: 32px;
    margin-top: -50px;
    color: #444;
    -webkit-transform: translateZ(-20px);
    -moz-transform: translateZ(-20px);
    -ms-transform: translateZ(-20px);
    -o-transform: translateZ(-20px);
    transform: translateZ(-20px); }

#da-sense-image {
  padding: 0; }

body.impress-on-da-sense-overview #da-sense-image {
  opacity: 1; }

#da-sense-overview {
  width: 1000px;
  height: 640px; }

#noisemap-intro {
  height: 650px; }
  #noisemap-intro .container {
    position: absolute;
    top: 0;
    left: 50px;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
    transition: all 1.2s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -ms-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s; }
  #noisemap-intro img {
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    transform: translateX(-50px);
    position: absolute;
    left: 0;
    top: 0; }
  #noisemap-intro h2 {
    text-align: left; }
  #noisemap-intro div.content {
    width: 600px;
    position: absolute;
    top: -0.3em;
    left: 380px; }

body.impress-on-noisemap-outro #noisemap-intro .container {
  -webkit-transform: rotateY(-90deg) translateX(350px) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateX(350px) translateZ(100px);
  -ms-transform: rotateY(-90deg) translateX(350px) translateZ(100px);
  -o-transform: rotateY(-90deg) translateX(350px) translateZ(100px);
  transform: rotateY(-90deg) translateX(350px) translateZ(100px);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  -ms-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s; }
body.impress-on-noisemap-outro #noisemap-intro, body.impress-on-noisemap-outro #da-sense-image, body.impress-on-noisemap-outro #da-sense-overview {
  opacity: 1; }
  body.impress-on-noisemap-outro #noisemap-intro .stay-hidden, body.impress-on-noisemap-outro #da-sense-image .stay-hidden, body.impress-on-noisemap-outro #da-sense-overview .stay-hidden {
    color: transparent;
    text-shadow: 0 0 8px #222;
    opacity: 0.18; }

#noisemap-outro {
  height: 600px;
  line-height: 100%; }
  #noisemap-outro .content {
    position: absolute;
    left: 92px;
    top: 430px; }
  #noisemap-outro .alle {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 64px;
    position: absolute;
    left: -104px;
    top: 33px; }
  #noisemap-outro .func {
    font-size: 115px;
    margin-left: -3px; }
  #noisemap-outro .available {
    font-size: 64px; }
  #noisemap-outro .excl {
    font-size: 200px;
    position: absolute;
    left: 740px;
    top: 28px; }

#privacy-intro {
  height: 350px; }
  #privacy-intro .content {
    position: absolute; }
  #privacy-intro .intro {
    font-size: 55px; }
  #privacy-intro .privacy {
    color: red;
    font-size: 205px;
    margin-left: -20px; }
  #privacy-intro .outro {
    margin-top: 30px;
    font-size: 117px;
    margin-left: -12px; }

body.impress-on-movement-profile {
  background: rgba(151, 24, 17, 0.95); }

@-webkit-keyframes pulsate {
  0% {
    background: rgba(174, 4, 4, 0.6); }

  50% {
    background: rgba(153, 0, 0, 0.85); }

  100% {
    background: rgba(174, 4, 4, 0.6); } }

#movement-profile {
  padding: 0;
  border: 2px solid #C00;
  padding: 0;
  width: 958px;
  opacity: 0.15;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px #5e0808;
  -moz-box-shadow: 0 0 20px #5e0808;
  -ms-box-shadow: 0 0 20px #5e0808;
  -o-box-shadow: 0 0 20px #5e0808;
  box-shadow: 0 0 20px #5e0808; }
  #movement-profile img {
    -webkit-filter: blur(10px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px; }
  #movement-profile.active {
    opacity: 1; }
    #movement-profile.active img {
      -webkit-filter: none; }

#privacy-sony blockquote {
  background: rgba(255, 255, 255, 0.25); }

#privacy-intro-daubert {
  height: 450px;
  letter-spacing: -2px; }
  #privacy-intro-daubert .content {
    margin-left: 15px; }
  #privacy-intro-daubert .deswegen {
    font-size: 147px;
    letter-spacing: -4px;
    margin-bottom: 7px; }
  #privacy-intro-daubert .privacy {
    font-size: 69px;
    margin-left: 5px; }

#privacy-unsere-aufgaben {
  padding-top: 0;
  height: 755px; }
  #privacy-unsere-aufgaben .content {
    position: relative;
    margin-left: 19px; }
  #privacy-unsere-aufgaben .was {
    margin-left: 6px;
    font-size: 111px; }
  #privacy-unsere-aufgaben .aufgabe {
    font-size: 65px;
    margin-top: -10px; }
  #privacy-unsere-aufgaben .question {
    font-size: 210px;
    position: absolute;
    left: 665px;
    top: 35px; }
  #privacy-unsere-aufgaben .hr {
    margin-top: 0px;
    width: 755px;
    margin-bottom: -15px; }
  #privacy-unsere-aufgaben .sandbox {
    margin-top: 10px;
    font-size: 77px;
    margin-bottom: -41px; }
  #privacy-unsere-aufgaben .pets {
    font-size: 38px; }
  #privacy-unsere-aufgaben .big {
    margin-top: -40px;
    font-size: 89px;
    margin-left: -3px; }

body.impress-on-privacy-unsere-aufgaben #privacy-pets-daubert-id,
body.impress-on-privacy-unsere-aufgaben #privacy-pets-daubert-ad-hoc,
body.impress-on-privacy-unsere-aufgaben #privacy-pets-daubert-anonymize,
body.impress-on-privacy-unsere-aufgaben #privacy-pets-daubert-modular {
  opacity: 0.6; }

#privacy-pets-daubert-id,
#privacy-pets-daubert-ad-hoc,
#privacy-pets-daubert-anonymize,
#privacy-pets-daubert-modular {
  width: 700px;
  height: 700px; }
  #privacy-pets-daubert-id ul,
  #privacy-pets-daubert-ad-hoc ul,
  #privacy-pets-daubert-anonymize ul,
  #privacy-pets-daubert-modular ul {
    margin-top: 30px;
    list-style: disc;
    text-transform: none;
    font-weight: 400;
    text-shadow: none;
    line-height: 160%; }
    #privacy-pets-daubert-id ul li,
    #privacy-pets-daubert-ad-hoc ul li,
    #privacy-pets-daubert-anonymize ul li,
    #privacy-pets-daubert-modular ul li {
      margin-bottom: 12px; }

#privacy-pets-daubert-id p {
  font-size: 34px; }

#privacy-pets-daubert-ad-hoc p {
  font-size: 38px; }
#privacy-pets-daubert-ad-hoc img {
  margin-top: 20px; }

#privacy-pets-daubert-anonymize p {
  font-size: 62;
  letter-spacing: 1px; }
#privacy-pets-daubert-anonymize img {
  margin: 0 30px;
  vertical-align: middle; }
#privacy-pets-daubert-anonymize .center {
  margin-top: 25px;
  color: transparent;
  background-color: rgba(70, 102, 25, 0.75);
  font-size: 180px;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.42);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text; }

#privacy-pets-daubert-modular p {
  font-size: 39px; }
#privacy-pets-daubert-modular pre {
  margin-top: 25px; }

#privacy-unsere-wahl {
  height: 560px;
  font-size: 62px;
  letter-spacing: -3px; }
  #privacy-unsere-wahl .big {
    font-size: 115px;
    margin-left: -4px;
    margin-bottom: 55px; }
  #privacy-unsere-wahl .pets, #privacy-unsere-wahl .zeit {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 129px; }
    #privacy-unsere-wahl .pets.iconic, #privacy-unsere-wahl .zeit.iconic {
      font-size: 89px;
      position: relative;
      top: -0.21em; }
  #privacy-unsere-wahl .iconic.pets {
    color: #0A0; }
  #privacy-unsere-wahl .iconic.zeit {
    margin-left: 0.3em;
    color: #A00; }
  #privacy-unsere-wahl .auswahl {
    margin-top: 30px;
    font-size: 97px; }
  #privacy-unsere-wahl .pet-auswahl {
    margin-top: 10px;
    font-size: 54px;
    position: relative; }
  #privacy-unsere-wahl .middot {
    position: absolute;
    top: 0;
    left: 330px; }
  #privacy-unsere-wahl .datentrennung {
    position: absolute;
    top: 0;
    right: 13; }

body.impress-on-privacy-unsere-wahl #privacy-tor-orbot-intro {
  opacity: 1; }

#privacy-tor-orbot-intro {
  height: 700px;
  padding-top: 0;
  padding-left: 150px;
  font-size: 49px; }
  #privacy-tor-orbot-intro .pet-auswahl {
    letter-spacing: -6px;
    font-size: 108px;
    margin-bottom: 20px; }
