@import "mixins";
@import 'common';


.stay-hidden {
  @include transition(all 1s);
}


#title {
  padding: 0;
  padding-left: 100px;

  .privacy {
    font-family: "Open Sans";
    font-size: 84px;
    position: absolute;
    font-weight: 600;
    left: 195px;
    top: -14px;
    @include translate-z(20px);
  }

  h1, h2 {
    text-align: left;
  }

  h1 {
    margin: 0;
    font-size: 190px;
    @include translate-z(50px);
    text-shadow: 0 0 6px rgba(0,0,0,0.3);
  }

  h2 {
    margin: 0;
    font-family: "Open Sans";
    font-weight: bold;
    position: absolute;
    font-size: 78px;
    left: -240px;
    top: 160px;
    color: transparent;
    text-shadow: 0 0 7px rgba(0,0,0,0.6);
    @include rotate(-90deg);
  }

  .noisemap {
    font-family: "Open Sans";
    font-size: 62px;
    position: relative;
    top: -1.3em;
    left: 90px;
    font-weight: 600;
    @include translate-z(20px);
  }

  .footnote {
    font-family: "Open Sans";
    font-size: 32px;
    margin-top: -50px;
    color: #444;
    @include translate-z(-20px)
  }
}

#da-sense-image {
  padding: 0;
}

body.impress-on-da-sense-overview {
  #da-sense-image {
    opacity: 1;
  }
}

#da-sense-overview {
  width: 1000px;
  height: 640px;
}

#noisemap-intro {
  height: 650px;

  .container {
    position: absolute;
    top: 0;
    left: 50px;
    @include transition(all 1.2s);
    @include transition-delay(1s);
  }
  img {
    @include translate-x(-50px);
    position: absolute;
    left: 0;
    top: 0;
  }

  h2 {
    text-align: left;
  }

  div.content {
    width: 600px;
    position: absolute;
    top: -0.3em;
    left: 380px;
  }
}

body.impress-on-noisemap-outro {
  #noisemap-intro .container {
    @include transform(rotateY(-90deg) translateX(350px) translateZ(100px));
    @include transition(all 1s);
    @include transition-delay(0.6s);
  }
  #noisemap-intro, #da-sense-image, #da-sense-overview {
    opacity: 1;
    .stay-hidden {
      color: transparent;
      text-shadow: 0 0 8px #222;
      opacity: 0.18;
    }
  }
}

#noisemap-outro {
  height: 600px;
  line-height: 100%;

  .content {
    position: absolute;
    left: 92px;
    top: 430px;
  }

  .alle {
    @include rotate(-90deg);
    font-size: 64px;
    position: absolute;
    left: -104px;
    top: 33px;
  }

  .func {
    font-size: 115px;
    margin-left: -3px;
  }

  .available{
    font-size: 64px;
  }
  .excl {
    font-size: 200px;
    position: absolute;
    left: 740px;
    top: 28px;
  }
}

#privacy-intro {
  height: 350px;

  .content {
    position: absolute;
  }
  .intro {
    font-size: 55px;
  }
  .privacy {
    color: red;
    font-size: 205px;
    margin-left: -20px;
  }
  .outro {
    margin-top: 30px;
    font-size:  117px;
    margin-left: -12px;
  }
}

body.impress-on-movement-profile {
  // background-image: -webkit-radial-gradient(hsla(5, 90%, 35%, 0.8), hsla(0, 85%, 20%, 0.95)), url('../img/bg.png');
  background: hsla(3, 80%, 33%, 0.95);
  // -webkit-animation: pulsate 2s ease-in-out;
  // -webkit-animation-iteration-count: infinite;
  // -webkit-animation-delay: 1s;
}
@-webkit-keyframes pulsate {
  0%   { background: hsla(0, 95%,  35%, 0.60); }
  50%  { background: hsla(0, 100%, 30%, 0.85); }
  100% { background: hsla(0, 95%,  35%, 0.60); }
}

#movement-profile {
  padding: 0;
  border: 2px solid #C00;
  padding: 0;
  width: 958px;
  opacity: 0.15;
  @include border-radius(10px);
  @include box-shadow(0 0 20px hsla(0, 85%, 20%, 1));
  img {
    -webkit-filter: blur(10px);
    @include border-radius(8px);
    // -webkit-transition: -webkit-filter 0.5s ease-in-out;
  }

  &.active {
    opacity: 1;
    img {
      -webkit-filter: none;
    }
  }
}

#privacy-sony {
  blockquote {
    background: rgba(255, 255, 255, 0.25);
  }
}

#privacy-intro-daubert {
  height: 450px;
  letter-spacing: -2px;

  .content {
    margin-left: 15px;
  }
  .deswegen {
    font-size: 147px;
    letter-spacing: -4px;
    margin-bottom: 7px;
  }
  .privacy {
    font-size: 69px;
    margin-left: 5px;
  }
}

#privacy-unsere-aufgaben {
  padding-top: 0;
  height: 755px;

  .content {
    position: relative;
    margin-left: 19px;
  }

  .was {
    margin-left: 6px;
    font-size: 111px;
  }

  .aufgabe{
    font-size: 65px;
    margin-top: -10px;
  }
  .question {
    font-size: 210px;
    position: absolute;
    left: 665px;
    top: 35px;
  }
  .hr {
    margin-top: 0px;
    width: 755px;
    margin-bottom: -15px;
  }
  .sandbox {
    margin-top: 10px;
    font-size: 77px;
    margin-bottom: -41px;
  }
  .pets {
    font-size: 38px;
  }
  .big {
    margin-top: -40px;
    font-size: 89px;
    margin-left: -3px;
  }
}

body.impress-on-privacy-unsere-aufgaben {
  #privacy-pets-daubert-id,
  #privacy-pets-daubert-ad-hoc,
  #privacy-pets-daubert-anonymize,
  #privacy-pets-daubert-modular {
    opacity: 0.6;
  }
}

#privacy-pets-daubert-id,
#privacy-pets-daubert-ad-hoc,
#privacy-pets-daubert-anonymize,
#privacy-pets-daubert-modular {
  width: 700px;
  height: 700px;

  ul {
    margin-top: 30px;
    list-style: disc;
    text-transform: none;
    font-weight: 400;
    text-shadow: none;
    line-height: 160%;
    li {
      margin-bottom: 12px;
    }
  }
}


#privacy-pets-daubert-id {
  p {
    font-size: 34px;
  }
}

#privacy-pets-daubert-ad-hoc {
  p {
    font-size: 38px;
  }
  img {
    margin-top: 20px;
  }
}

#privacy-pets-daubert-anonymize {
  p {
    font-size: 62;
    letter-spacing: 1px;
  }
  img {
    margin: 0 30px;
    vertical-align: middle;
  }
  .center {
    margin-top: 25px;
    color: transparent;
    background-color: rgba(70,40%,10%,0.75);
    font-size: 180px;
    text-shadow: 0 2px 2px hsla(0,0,100%,0.42);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
  }
}

#privacy-pets-daubert-modular {
  p {
    font-size: 39px;
  }
  pre {
    margin-top: 25px;
  }
}

#privacy-unsere-wahl {
  height: 560px;
  font-size: 62px;
  letter-spacing: -3px;

  .big {
    font-size: 115px;
    margin-left: -4px;
    margin-bottom: 55px;
  }

  .pets, .zeit {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 129px;
    &.iconic {
      font-size: 89px;
      position: relative;
      top: -0.21em;
    }
  }

  .iconic.pets {
    color: #0A0;
  }

  .iconic.zeit {
    margin-left: 0.3em;
    color: #A00;
  }

  .auswahl {
    margin-top: 30px;
    font-size: 97px;
  }

  .pet-auswahl {
    margin-top: 10px;
    font-size: 54px;
    position: relative;
  }
  .middot {
    position: absolute;
    top: 0;
    left: 330px;
  }
  .datentrennung {
    position: absolute;
    top: 0;
    right: 13;
  }
}

body.impress-on-privacy-unsere-wahl {
  #privacy-tor-orbot-intro {
    opacity: 1;
  }
}

#privacy-tor-orbot-intro {
  height: 700px;
  padding-top: 0;
  padding-left: 79px;
  width: 800px;
  font-size: 49px;
  .pet-auswahl {
    letter-spacing: -6px;
    font-size: 108px;
    margin-bottom: 20px;
  }
  .images {
    position: relative;
  }
  .logo, .network {
    position: absolute;
  }
  .logo {
    width: 500px;
    top: 0;
    left: 60px;
    @include transition(all 1.2s ease-in-out);
  }
  .network {
    border-radius: 10px;
    @include transition(all 1s);
    @include box-shadow(0 0 10px hsla(0,0,0,0.4));
    opacity: 0;
    top: 220px;
    left: 50px;
  }
  &.active {
  }
}

body.impress-on-privacy-tor-orbot-onion,
body.impress-on-privacy-tor-orbot-intro {
  #privacy-tor-orbot-intro {
    .fadein {
      opacity: 1;
    }
    opacity: 1;
    .logo {
      top: -90px;
      @include scale(0.4);
      @include transition-delay(2s);
    }
    .network {
      opacity: 1;
      @include transition-delay(3s);
    }
  }
}

body.impress-on-privacy-tor-orbot-onion {
  #privacy-tor-orbot-intro {
    .logo {
      // opacity: 0;
    }
  }
  #privacy-tor-orbot-onion-image {
    opacity: 1;
  }
}

#privacy-tor-orbot-onion-image {
  opacity: 0;
  @include transition(opacity 0.5s);
  position: absolute;
  top: 448px;
  left: 7178px;
  @include transform(translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(0.1));
  -webkit-transform-style: preserve-3d;
  // opacity: 0.01;
  img.logo {
    position: absolute;
    width: 2000px;
    left: 250px;
    top: -830px;
    // @include scale(5);
  }
}
#privacy-tor-orbot-onion {
  font-size: 86px;
}
